body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: 'Lato', 'Open Sans';
}

#logo {
    color: #2395b2;
}

#main {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
    background-color: #eaf8fc;
    color: #666;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.message {
    background-color: #eee;
    margin: 5px;
}

.username {
    color: #2395b2;
}

.username:hover{
    color: #166072;
}

.roomname {
    color: #999;
}
.msg-body {
    color: #666;
}

.friend-msg-body {
    color: #E6005C;
    font-weight: 900;
}

.form-content{
    text-align: right;
    margin: 5px 0 0 0;
}

button {
  background: #2395b2;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 12px;
  font-family: 'Lato', 'Open Sans';
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border:none;
  text-transform: uppercase;
}
button:hover {
  background: #166072;
  text-decoration: none;
}

/*select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}*/

#refresh-div{
    display: inline-block;
    text-align: right;
    float:right;
    margin:5px;
}
#room-selection{
    display: inline-block;
    margin:5px;
}